
## <summary>policy for nwccurrency</summary>


########################################
## <summary>
##	Transition to nwccurrency.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nwccurrency_domtrans',`
	gen_require(`
		type nwccurrency_t, nwccurrency_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nwccurrency_exec_t, nwccurrency_t)
')


########################################
## <summary>
##	Execute nwccurrency server in the nwccurrency domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nwccurrency_initrc_domtrans',`
	gen_require(`
		type nwccurrency_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nwccurrency_initrc_exec_t)
')


########################################
## <summary>
##	Search nwccurrency lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nwccurrency_search_lib',`
	gen_require(`
		type nwccurrency_var_lib_t;
	')

	allow $1 nwccurrency_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nwccurrency lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nwccurrency_read_lib_files',`
	gen_require(`
		type nwccurrency_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nwccurrency_var_lib_t, nwccurrency_var_lib_t)
')

########################################
## <summary>
##	Manage nwccurrency lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nwccurrency_manage_lib_files',`
	gen_require(`
		type nwccurrency_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nwccurrency_var_lib_t, nwccurrency_var_lib_t)
')

########################################
## <summary>
##	Manage nwccurrency lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nwccurrency_manage_lib_dirs',`
	gen_require(`
		type nwccurrency_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nwccurrency_var_lib_t, nwccurrency_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nwccurrency environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nwccurrency_admin',`
	gen_require(`
		type nwccurrency_t;
		type nwccurrency_initrc_exec_t;
		type nwccurrency_var_lib_t;
	')

	allow $1 nwccurrency_t:process { ptrace signal_perms };
	ps_process_pattern($1, nwccurrency_t)

	nwccurrency_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nwccurrency_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nwccurrency_var_lib_t)

')

